
   <h1>Favorite Traveling Photos</h1>
    <ul>
      <li><img src='/images/eila-lifflander-220723.jpg' alt='A photo of a mountain.'/></li>
      <li><img src='/images/joshua-earle-35836.jpg' alt='A photo of a mountain.'/></li>
    </ul>
